body {
    background-color:  rgb(242, 228, 21);
    
}

header{
  
    text-align: center;
    
}
main {
    font-size: 30px;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border: 5px solid black;
    background-color: red;
    text-align: center;
    
    
    
}

th {
    border: 3px solid red;
    background-color: black;
    color: white;
    
    
}

td {
    border: 3px solid red;
    background-color:black;
    color: white;
    
}

th, td {
   
    width: 100%;
    height: 100%;
}



#phone, #email {
text-align: left;

}



.container {
    display: flex-direction= column;
    font-size: 30px;

}

a {
   border: 2px solid red;
   background-color: black;
   color:white
}

a:hover {
    background-color: blue;
}

iframe {
    width: 100%;
    height: 100%;
}