body {
    background-color: rgb(194, 250, 12);
}

.header {
    text-align: center;
}

.container {
    display: flex-direction= column;
}

a {
    border: 2px solid red;
    background-color: black;
    color:white
 }
 
 a:hover {
     background-color: blue;
 }